<!-- <h1>Picatic Component Documentation</h1> -->
<div style="max-width:864px;">
  <h2>What are &ldquo;Picatic Components&rdquo;?</h2>
  <p>Picatic Components is a UI Component framework and reference implementation. The majority of it is based around AngularJS Material with altered styling. This project provides a set of reusable UI components based on Jellyfish Design Principles.</p>

  <ul class="buckets" layout layout-align="center center" layout-wrap>
    <li flex="50" flex-gt-xs="33">
      <a class="md-primary md-raised md-button md-ink-ripple" ui-sref="getting-started" aria-label="Getting Started" href="">
        <md-icon class="block" role="img" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"></path>
          </svg>
        </md-icon>
        Getting Started
      </a>
    </li>
    <li flex="50" flex-gt-xs="33">
      <a class="md-primary md-raised md-button md-ink-ripple" ui-sref="avatar" aria-label="Demos" href="">
        <md-icon class="block" role="img" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"></path>
          </svg>
        </md-icon>
        Demos
      </a>
    </li>
    <li flex="50" flex-gt-xs="33">
      <a class="md-primary md-raised md-button md-ink-ripple" ui-sref="typography" aria-label="Demos" href="">
        <md-icon class="block" role="img" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
            <path d="M5 17v2h14v-2H5zm4.5-4.2h5l.9 2.2h2.1L12.75 4h-1.5L6.5 15h2.1l.9-2.2zM12 5.98L13.87 11h-3.74L12 5.98z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </md-icon>
        Style
      </a>
    </li>
  </ul><!-- /.buckets -->

  <h2>Notes</h2>
  <p>This component library and documenation is a work in progress.</p>
</div>
