<h1>Lists</h1>
<p>List styling can be applied to <code>&lt;md-list&gt;</code> elements by adding the <code>pt-list</code> class.</p>
<p>There are a few extra classes that can adjust the styling of lists.</p>
<table class="attrs-table">
  <thead>
    <tr>
      <th>Class</th>
      <th>Outcome</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>pt-list-dark</code></td>
      <td>Used when list is on a dark background so text and borders are tints of white.</td>
    </tr>
    <tr>
      <td><code>pt-list-no-border</code></td>
      <td>Removes all borders on list items.</td>
    </tr>
    <tr>
      <td><code>pt-list-no-top-border</code></td>
      <td>Removes top border from list.</td>
    </tr>
    <tr>
      <td><code>pt-list-no-bottom-border</code></td>
      <td>Removes bottom border from list.</td>
    </tr>
  </tbody>
</table>

<section class="docs-content-section">
  <h2>Single-line list</h2>
  <demo-container>
    <div class="demo-toolbar">
      <h3>Example Usage</h3>
      <button type="button" ng-click="showSource = !showSource"><i class="material-icons">code</i></button>
    </div><!-- /.demo-toolbar -->

    <demo-tabs ng-show="showSource">
      <demo-tab dt-heading="HTML" dt-tab-active>
        <hljs class="no-header" lang="html" code="markup" should-interpolate="false"></hljs>
      </demo-tab>
      <demo-tab dt-heading="LESS">
        <hljs class="no-header" lang="less" code="css" should-interpolate="false"></hljs>
      </demo-tab>
      <demo-tab dt-heading="CoffeeScript">
        <hljs class="no-header" lang="coffeescript" code="js" should-interpolate="false"></hljs>
      </demo-tab>
    </demo-tabs>

    <div class="demo-content" ng-include="markupUrl"></div><!-- /.demo-content -->
  </demo-container>
</section><!-- /.docs-content-section -->

<section class="docs-content-section">
  <h2>Two-line list</h2>
  <demo-container>
    <div class="demo-toolbar">
      <h3>Example Usage</h3>
      <button type="button" ng-click="showSource = !showSource"><i class="material-icons">code</i></button>
    </div><!-- /.demo-toolbar -->

    <demo-tabs ng-show="showSource">
      <demo-tab dt-heading="HTML" dt-tab-active>
        <hljs class="no-header" lang="html" code="markup2" should-interpolate="false"></hljs>
      </demo-tab>
      <demo-tab dt-heading="LESS">
        <hljs class="no-header" lang="less" code="css" should-interpolate="false"></hljs>
      </demo-tab>
      <demo-tab dt-heading="CoffeeScript">
        <hljs class="no-header" lang="coffeescript" code="js" should-interpolate="false"></hljs>
      </demo-tab>
    </demo-tabs>

    <div class="demo-content" ng-include="markupUrl2"></div><!-- /.demo-content -->
  </demo-container>
</section><!-- /.docs-content-section -->
