<div class="typography-sample">
  <dl>
    <dt>Display 5</dt>
    <dd>
      <h1 class="pt-display-5">Bold 104</h1>
    </dd>
    <dt>Display 4</dt>
    <dd>
      <h1 class="pt-display-4">Bold 72</h1>
    </dd>
    <dt>Display 3</dt>
    <dd>
      <h1 class="pt-display-3">Bold 56</h1>
    </dd>
    <dt>Display 2</dt>
    <dd>
      <h1 class="pt-display-2">Regular 45</h1>
    </dd>
    <dt>Display 1</dt>
    <dd>
      <h2 class="pt-display-1">Regular 34</h2>
    </dd>
    <dt>Headline</dt>
    <dd>
      <p class="pt-headline">Regular 24</p>
    </dd>
    <dt>Title</dt>
    <dd>
      <p class="pt-title">Medium 20</p>
    </dd>
    <dt>Subhead</dt>
    <dd>
      <p class="pt-subhead">Regular 18</p>
    </dd>
    <dt>Body 3</dt>
    <dd>
      <p class="pt-body-3">Medium 16</p>
    </dd>
    <dt>Body 2</dt>
    <dd>
      <p class="pt-body-2">Regular 16</p>
    </dd>
    <dt>Body 1</dt>
    <dd>
      <p class="pt-body-1">Regular 14</p>
    </dd>
    <dt>Caption 2</dt>
    <dd>
      <p class="pt-caption-2">Regular 14</p>
    </dd>
    <dt>Caption 1</dt>
    <dd>
      <p class="pt-caption-1">Regular 12</p>
    </dd>
  </dl>
  <dl>
    <dt></dt>
    <dd>
      <h1 class="pt-display-5 pt-inverse">Bold 104</h1>
    </dd>
    <dt></dt>
    <dd>
      <h1 class="pt-display-4 pt-inverse">Bold 72</h1>
    </dd>
    <dt></dt>
    <dd>
      <h1 class="pt-display-3 pt-inverse">Bold 56</h1>
    </dd>
    <dt></dt>
    <dd>
      <h1 class="pt-display-2 pt-inverse">Regular 45</h1>
    </dd>
    <dt></dt>
    <dd>
      <h2 class="pt-display-1 pt-inverse">Regular 34</h2>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-headline pt-inverse">Regular 24</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-title pt-inverse">Medium 20</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-subhead pt-inverse">Regular 18</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-body-3 pt-inverse">Medium 16</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-body-2 pt-inverse">Regular 16</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-body-1 pt-inverse">Regular 14</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-caption-2 pt-inverse">Regular 14</p>
    </dd>
    <dt></dt>
    <dd>
      <p class="pt-caption-1 pt-inverse">Regular 12</p>
    </dd>
  </dl>
</div><!-- /.typography-sample -->


<section class="docs-content-section">
  <h2>Example</h2>
  <p>Adding a class of `pt-inverse` will make text a tint of white rather than a shade of black.</p>
  <hljs lang="html" code="markup" should-interpolate="false"></hljs>
</section><!-- /.docs-content-section -->
