<div>
  <button type="button" class="pt-button md-raised pt-heart-theme pt-button-lg pt-button-block">Large</button>
  <a href="#" class="pt-button md-raised pt-heart-theme pt-button-block">Medium</a>
  <a href="#" class="pt-button md-raised pt-heart-theme pt-button-sm pt-button-block">Small</a>
</div>
<div>
  <a href="#" class="pt-button md-raised pt-shamrock-theme pt-button-lg pt-button-block">Large</a>
  <button type="button" class="pt-button md-raised pt-shamrock-theme pt-button-block">Medium</button>
  <a href="#" class="pt-button md-raised pt-shamrock-theme pt-button-sm pt-button-block">Small</a>
</div>
<div>
  <button type="button" class="pt-button md-raised pt-cerulean-theme pt-button-lg pt-button-block">Large</button>
  <a href="#" class="pt-button md-raised pt-cerulean-theme pt-button-block">Medium</a>
  <a href="#" class="pt-button md-raised pt-cerulean-theme pt-button-sm pt-button-block">Small</a>
</div>
