<div>
  <button type="button" class="pt-button md-raised md-primary pt-shamrock-theme pt-button-lg pt-button-badge pt-button-block">Large <span class="pt-badge pt-pill">3</span></button>
</div>
<div>
  <button type="button" class="pt-button md-raised md-primary pt-shamrock-theme pt-button-badge pt-button-block">Medium <span class="pt-badge pt-pill">3</span></button>
</div>
<div>
  <button type="button" class="pt-button md-raised md-primary pt-shamrock-theme pt-button-sm pt-button-badge pt-button-block">Small <span class="pt-badge pt-pill">3</span></button>
</div>
