<div md-theme="purpleHeart" ng-controller="TableDemoController as ctrl">

  <div class="pt-whiteframe-1dp">
    <div class="pt-table-header" layout="row">
      <pt-search placeholder="Search" on-form-submit="ctrl.updateSearch(search)" on-form-clear="ctrl.formClear()"></pt-search>
      <div flex>
      </div>
      <div class="pt-table-header-actions">
        <md-button class="md-raised pt-button pt-button-purple">Label</md-button><!-- /.pt-button -->
        <md-button class="md-primary md-raised pt-button">Label</md-button><!-- /.pt-button -->
      </div>
    </div><!-- /.pt-table-header -->
  </div>

</div>
