<div class="layout-row">
  <div class="layout-column flex-50">
    <pt-card>
      <img class="pt-card-image" alt="Alt Text" src="https://s3.amazonaws.com/files.picatic.com/users/41382/c2d47174-abb0-4d89-96ca-a59acda0978c" />
      <pt-card-title>
        <pt-card-title-text>
          <span class="pt-headline">Headline</span>
          <span class="pt-subhead">Subhead</span>
        </pt-card-title-text>
      </pt-card-title>
      <pt-card-content>
        <p>This is some content.</p>
      </pt-card-content>
      <pt-card-actions class="layout-align-end-center layout-row">
        <button class="pt-button md-raised pt-cerulean-theme">Cancel</button>
        <button class="pt-button md-raised pt-cerulean-theme md-primary">Submit</button>
      </pt-card-actions>
    </pt-card>
  </div><!-- /.layout-column flex-50 -->

  <div class="layout-column flex-50">
    <pt-card class="pt-card-host">
      <img class="pt-card-image" alt="Alt Text" src="https://s3.amazonaws.com/files.picatic.com/users/41382/c2d47174-abb0-4d89-96ca-a59acda0978c" />
      <pt-card-title>
        <pt-card-title-text>
          <span class="pt-headline">Nike Golf</span>
        </pt-card-title-text>
      </pt-card-title>
      <pt-card-content>
        <p class="pt-body-2">Home of the most innovative golf products and the best athletes.</p>
      </pt-card-content>
      <pt-card-actions class="layout-align-end-center layout-row">
        <div class="flex-50">
          <button class="pt-button md-raised pt-cerulean-theme md-primary pt-button-block">Ask A Question</button>
        </div><!-- /.flex-50 -->
        <div class="flex-50">
          <button class="pt-button md-raised pt-cerulean-theme pt-button-block">View Profile</button>
        </div><!-- /.flex-50 -->
      </pt-card-actions>
    </pt-card>
  </div><!-- /.layout-column flex-50 -->
</div><!-- /.layout-row -->
