<header>
  <h1>Card</h1>
</header>

<p><code>&lt;card&gt;</code> is a special component.</p>

<p>Make all sorts of cool things with <code>&lt;card&gt;</code>.</p>

<ul>
  <li>a card</li>
  <li>a different card</li>
  <li>another card</li>
</ul>

<blockquote>
  <p>This is the best <code>&lt;card&gt;</code> I&rsquo;ve ever seen!</p>
  <p>- Bruce Campbell</p>
</blockquote>

<section class="docs-content-section">
  <h2>Usage</h2>
  <p>See for example</p>

  <demo-container>
    <div class="demo-toolbar">
      <h3>Basic Usage</h3>
      <button type="button" ng-click="showSource = !showSource"><i class="material-icons">code</i></button>
    </div><!-- /.demo-toolbar -->

    <demo-tabs ng-show="showSource">
      <demo-tab dt-heading="HTML" dt-tab-active>
        <hljs class="no-header" lang="html" code="markup" should-interpolate="false"></hljs>
      </demo-tab>
      <demo-tab dt-heading="CSS">
        <hljs class="no-header" lang="css" code="css" should-interpolate="false"></hljs>
      </demo-tab>
    </demo-tabs>

    <div class="demo-content" ng-include="markupUrl"></div><!-- /.demo-content -->
  </demo-container>
</section><!-- /.docs-content-section -->

<section class="docs-content-section">
  <h2>Markup</h2>
  <hljs lang="html" code="markup" should-interpolate="false"></hljs>
</section><!-- /.docs-content-section -->

<section class="docs-content-section">
  <h2>Attributes</h2>
  <table class="attrs-table">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="api-params-item">
        <td class="nowrap">
          one-thing <code>boolean</code>
        </td>
        <td class="nowrap">
          <code>boolean</code>
        </td>
        <td class="description">
          <p>If present, something happens.</p>
        </td>
      </tr>
      <tr class="api-params-item">
        <td class="nowrap">
          another-thing <code>string</code>
        </td>
        <td class="nowrap">
          <code>string</code>
        </td>
        <td class="description">
          <p>If present, something else happens.</p>
        </td>
      </tr>
    </tbody>
  </table>
</section><!-- /.docs-content-section -->
