
.translate3d(@x; @y; @z) {
  -webkit-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}
.align-items(@val) {
  -ms-flex-align: @val;
  -webkit-align-items: @val;
  align-items: @val;
}
