<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-red pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-red">Label</span>
</div>
<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-amaranth pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-amaranth">Label</span>
</div>
<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-heart pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-heart">Label</span>
</div>
<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-dodger pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-dodger">Label</span>
</div>
<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-shamrock pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-shamrock">Label</span>
</div>
<div style="margin-bottom:16px;">
  <span class="pt-badge pt-badge-yellow pt-badge-cornered">Label</span>
  <span class="pt-badge pt-badge-yellow">Label</span>
</div>
<div>
  <span class="pt-badge pt-badge-cornered">Label</span>
  <span class="pt-badge">Label</span>
</div>
