<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth">Amaranth</span>
  <span class="pt-badge pt-badge-dodger">Dodger</span>
  <span class="pt-badge pt-badge-heart">Heart</span>
  <span class="pt-badge">Neutral</span>
  <span class="pt-badge pt-badge-rorange">Rorange</span>
  <span class="pt-badge pt-badge-selective">Selective</span>
  <span class="pt-badge pt-badge-shamrock">Shamrock</span>
</div>
<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-badge-sm">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-badge-sm">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-badge-sm">Heart</span>
  <span class="pt-badge pt-badge-sm">Neutral</span>
  <span class="pt-badge pt-badge-rorange pt-badge-sm">Rorange</span>
  <span class="pt-badge pt-badge-selective pt-badge-sm">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-badge-sm">Shamrock</span>
</div>


<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-pill">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-pill">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-pill">Heart</span>
  <span class="pt-badge pt-pill">Neutral</span>
  <span class="pt-badge pt-badge-rorange pt-pill">Rorange</span>
  <span class="pt-badge pt-badge-selective pt-pill">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-pill">Shamrock</span>
</div>
<div class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-badge-sm pt-pill">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-badge-sm pt-pill">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-badge-sm pt-pill">Heart</span>
  <span class="pt-badge pt-badge-sm pt-pill">Neutral</span>
  <span class="pt-badge pt-badge-rorange pt-badge-sm pt-pill">Rorange</span>
  <span class="pt-badge pt-badge-selective pt-badge-sm pt-pill">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-badge-sm pt-pill">Shamrock</span>
</div>
