<div md-theme="purpleHeart">
  <md-button class="pt-button md-raised md-primary pt-button-lg pt-button-block">Large</md-button>
  <md-button href="#" class="pt-button md-raised md-primary pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button md-raised md-primary pt-button-sm pt-button-block">Small</md-button>
</div>
<div md-theme="purpleHeart">
  <md-button class="pt-button md-raised md-accent pt-button-lg pt-button-block">Large</md-button>
  <md-button href="#" class="pt-button md-raised md-accent pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button md-raised md-accent pt-button-sm pt-button-block">Small</md-button>
</div>
<div md-theme="cerulean">
  <md-button class="pt-button md-raised md-primary pt-cerulean-theme pt-button-lg pt-button-block">Large</md-button>
  <md-button href="#" class="pt-button md-raised md-primary pt-cerulean-theme pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button md-raised md-primary pt-cerulean-theme pt-button-sm pt-button-block">Small</md-button>
</div>
