<div md-theme="purpleHeart">
  <md-button class="pt-button pt-button-purple md-raised pt-button-lg pt-button-block">Large</md-button>
  <md-button href="#" class="pt-button pt-button-purple md-raised pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button pt-button-purple md-raised pt-button-sm pt-button-block">Small</md-button>
</div>
<div md-theme="purpleHeart">
  <md-button href="#" class="pt-button pt-button-shamrock md-raised pt-button-lg pt-button-block">Large</md-button>
  <md-button class="pt-button pt-button-shamrock md-raised pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button pt-button-shamrock md-raised pt-button-sm pt-button-block">Small</md-button>
</div>
<div md-theme="cerulean">
  <md-button class="pt-button pt-button-cerulean md-raised pt-button-lg pt-button-block">Large</md-button>
  <md-button href="#" class="pt-button pt-button-cerulean md-raised pt-button-block">Medium</md-button>
  <md-button href="#" class="pt-button pt-button-cerulean md-raised pt-button-sm pt-button-block">Small</md-button>
</div>
