<div md-theme="purpleHeart">
  <md-button class="pt-button md-raised md-accent pt-button-lg pt-button-badge pt-button-block">Large <span class="pt-badge pt-pill">3</span></md-button>
</div>
<div md-theme="purpleHeart">
  <md-button class="pt-button md-raised md-accent pt-button-badge pt-button-block">Medium <span class="pt-badge pt-pill">3</span></md-button>
</div>
<div md-theme="purpleHeart">
  <md-button class="pt-button md-raised md-accent pt-button-sm pt-button-badge pt-button-block">Small <span class="pt-badge pt-pill">3</span></md-button>
</div>
