<div ng-controller="MenuDemoController as ctrl" md-theme="purpleHeart">
  <md-menu>
    <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
      <md-icon aria-label="More">more_vert</md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button>
          Item
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button>
          Item
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button>
          Item
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div><!-- /MenuDemoController -->
