<card>
  <card-header>
    <card-avatar>
      <img class="avatar" />
      <!-- <icon class="avatar-icon" /> -->
    </card-avatar>
    <card-header-text>
      <span class="title">Title</span>
      <span class="title">subhead</span>
    </card-header-text>
  </card-header>
  <card-image title="Alt Text" style="background-image:url();">
  </card-image>
  <card-title>
    <card-title-text>
      <span class="headline"></span>
      <span class="subhead"></span>
    </card-title-text>
  </card-title>
  <card-content>
    <p>This is some content.</p>
  </card-content>
  <card-actions>
    <button>Cancel</button>
    <button>Submit</button>
  </card-actions>
</card>
