<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth">Amaranth</span>
  <span class="pt-badge pt-badge-dodger">Dodger</span>
  <span class="pt-badge pt-badge-heart">Heart</span>
  <span class="pt-badge pt-badge-orange">Orange</span>
  <span class="pt-badge pt-badge-selective">Selective</span>
  <span class="pt-badge pt-badge-shamrock">Shamrock</span>
  <span class="pt-badge">Neutral</span>
  <span class="pt-badge pt-badge-alt">Neutral 2</span>
</div>
<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-badge-sm">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-badge-sm">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-badge-sm">Heart</span>
  <span class="pt-badge pt-badge-orange pt-badge-sm">Orange</span>
  <span class="pt-badge pt-badge-selective pt-badge-sm">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-badge-sm">Shamrock</span>
  <span class="pt-badge pt-badge-sm">Neutral</span>
  <span class="pt-badge pt-badge-alt pt-badge-sm">Neutral 2</span>
</div>
