<div style="margin-bottom:16px;" class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-pill">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-pill">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-pill">Heart</span>
  <span class="pt-badge pt-badge-orange pt-pill">Orange</span>
  <span class="pt-badge pt-badge-selective pt-pill">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-pill">Shamrock</span>
  <span class="pt-badge pt-pill">Neutral</span>
  <span class="pt-badge pt-badge-alt pt-pill">Neutral 2</span>
</div>
<div class="layout-row layout-align-space-around">
  <span class="pt-badge pt-badge-amaranth pt-badge-sm pt-pill">Amaranth</span>
  <span class="pt-badge pt-badge-dodger pt-badge-sm pt-pill">Dodger</span>
  <span class="pt-badge pt-badge-heart pt-badge-sm pt-pill">Heart</span>
  <span class="pt-badge pt-badge-orange pt-badge-sm pt-pill">Orange</span>
  <span class="pt-badge pt-badge-selective pt-badge-sm pt-pill">Selective</span>
  <span class="pt-badge pt-badge-shamrock pt-badge-sm pt-pill">Shamrock</span>
  <span class="pt-badge pt-badge-sm pt-pill">Neutral</span>
  <span class="pt-badge pt-badge-alt pt-badge-sm pt-pill">Neutral 2</span>
</div>
