<div style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/img/avatars/default-avatar-user.png" alt="User Avatar" class="pt-avatar pt-avatar-xl" />
</div>
<div style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/img/avatars/default-avatar-user.png" alt="User Avatar" class="pt-avatar pt-avatar-lg" />
</div>
<div style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/img/avatars/default-avatar-user.png" alt="User Avatar" class="pt-avatar" />
</div>
<div style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/img/avatars/default-avatar-user.png" alt="User Avatar" class="pt-avatar pt-avatar-xs" />
</div>
