<div class="pt-avatar pt-avatar-xl" style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/users/41382/rz2aNKUQ22mK9Lko38nc_n662021201_296840_4482.jpg" />
</div><!-- /.pt-avatar -->
<div class="pt-avatar pt-avatar-lg" style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/users/41382/rz2aNKUQ22mK9Lko38nc_n662021201_296840_4482.jpg" />
</div><!-- /.pt-avatar -->
<div class="pt-avatar" style="display:block;margin-bottom:24px;">
  <img src="https://s3.amazonaws.com/files.picatic.com/users/41382/rz2aNKUQ22mK9Lko38nc_n662021201_296840_4482.jpg" />
</div><!-- /.pt-avatar -->
<div class="pt-avatar pt-avatar-xs">
  <img src="https://s3.amazonaws.com/files.picatic.com/users/41382/rz2aNKUQ22mK9Lko38nc_n662021201_296840_4482.jpg" />
</div><!-- /.pt-avatar -->
